source/**/*

*.egg*
*.mo
*.pot
*.pyc
*.swp
*.sqlite3
*.lock
.environment_version
.selenium_log
.coverage*
.noseids
.DS_STORE
.DS_Store
/build
/cover
coverage.xml
coverage-karma
nosetests.xml
pep8.txt
pylint.txt
# Files created by releasenotes build
releasenotes/build
reports
horizon.egg-info
roller_dashboard/local/*
!roller_dashboard/local/__init__.py
!roller_dashboard/local/enabled
!roller_dashboard/local/local_settings.d
!roller_dashboard/local/local_settings.py
!roller_dashboard/local/local_settings.py.example
!roller_dashboard/local/local_settings.d/*.example
roller_dashboard/test/integration_tests/local-horizon.conf
roller_dashboard/test/integration_tests/test_reports/
.secret_key_store
roller_dashboard/wsgi/horizon.wsgi
doc/build/
doc/source/sourcecode
horizon/templates/easystack/
integration_tests_screenshots/
.venv*
.venv345*
.venv4*
.tox

download
node_modules
jspm_packages

npm-debug.log

dist
AUTHORS
ChangeLog
tags
ghostdriver.log
.testrepository
.idea
.pydevproject
node_modules
horizon/templates/horizon/scripts.html

package-lock.json
horizon/local/.secret_key_store
.vscode/
.history/