{
    "presets": ["env"],
    "plugins": [
      "transform-decorators-legacy",
      "transform-class-properties",
      ["angularjs-annotate", { "explicitOnly" : true}]
    ],
    "compact": false
}
